.tag {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 16px;
}

.text {
  display: grid;
  align-items: center;
  font-size: 1.5rem;
  padding: 16px;
  height: 6rem;
}

.card {
  width: 100%;
}
